<head>
	<!-- BOOTSTRAP CSS FILES -->
	<link rel="stylesheet" href="/assets/bootstrap-3.3-1.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/style.css">
	<!-- JQUERY --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title><%= data.nome %>'s name</title>
</head>